lead-generation.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Pass webhook data through without wrapping\nconst parsed = $input.first().json;\n\n// Log for debugging\nconsole.log('=== WEBHOOK RECEIVED ===');\nconsole.log('Industry:', parsed.body?.industry);\nconsole.log('SIC Codes:', parsed.body?.sic_codes);\nconsole.log('Countries:', parsed.body?.countries);\n\n// Pass the data as-is to Code5\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        608
      ],
      "id": "fc0800ac-5b6e-47f6-b58c-af79f2590de4",
      "name": "Code4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "people",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        608
      ],
      "id": "754a2490-93ba-47bd-9068-46a71b4aec61",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9c43340-d0e3-47c2-86fb-8a9ea45d8bf5",
              "name": "name",
              "value": "={{ $('Split Out2').item.json.name }}",
              "type": "string"
            },
            {
              "id": "686f2035-da7b-45f6-933c-33406d19c5d8",
              "name": "linkedin_url",
              "value": "={{ $('Split Out2').item.json.linkedin_url }}",
              "type": "string"
            },
            {
              "id": "50abef65-7d5d-44c3-b7c4-b994e14c9109",
              "name": "title",
              "value": "={{ $('Split Out2').item.json.title }}",
              "type": "string"
            },
            {
              "id": "1796e848-ea98-47d9-9600-57dceb08ce08",
              "name": "email",
              "value": "={{ $json.person.email }}",
              "type": "string"
            },
            {
              "id": "ac1456c4-150f-458e-818d-548baffe68d7",
              "name": "formatted_address",
              "value": "={{ $('Split Out2').item.json.formatted_address }}",
              "type": "string"
            },
            {
              "id": "09619db0-79e7-4650-b1bf-bdc25b65d8a8",
              "name": "organization.name",
              "value": "={{ $('Split Out2').item.json.organization.name }}",
              "type": "string"
            },
            {
              "id": "b17e2c3e-d9f0-451e-8a9c-128354c25dd8",
              "name": "organization.industry",
              "value": "={{ $('Code5').first().json._industry_filter }}",
              "type": "string"
            },
            {
              "id": "fcb0d437-8d31-4d70-a8b5-2a8afb3591ff",
              "name": "organization.website_url",
              "value": "={{ $('Split Out2').item.json.organization.website_url }}",
              "type": "string"
            },
            {
              "id": "367aa276-e4c5-4963-93a7-fcfef11c99f1",
              "name": "organization.linkedin_url",
              "value": "={{ $('Split Out2').item.json.organization.linkedin_url }}",
              "type": "string"
            },
            {
              "id": "cc53559d-5db3-4ae4-9a17-91e84a0c21e1",
              "name": "organization.blog_url",
              "value": "={{ $('Split Out2').item.json.organization.blog_url }}",
              "type": "string"
            },
            {
              "id": "0d90a39b-bea8-4173-a785-cb82fcc52762",
              "name": "organization.angellist_url",
              "value": "={{ $('Split Out2').item.json.organization.angellist_url }}",
              "type": "string"
            },
            {
              "id": "f1699d5b-6c7e-4e8c-aa29-ad83a1d69bd4",
              "name": "organization.phone",
              "value": "={{ $('Split Out2').item.json.organization.primary_phone.number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        624
      ],
      "id": "a447fbeb-9041-4d90-873f-354e99e7cb04",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "reveal_personal_emails",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "x-api-key",
              "value": "zzFCx9408ad1n5Gu5RoKZA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        592
      ],
      "id": "457d2643-f374-4d66-8f00-f941d65c5dcf",
      "name": "HTTP Request4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/match",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "reveal_personal_emails",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "zzFCx9408ad1n5Gu5RoKZA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        624
      ],
      "id": "574633d1-2d08-4499-993e-0a929b3a6997",
      "name": "HTTP Request5",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "// Transform webhook data for Apollo API with SIC codes\nconst parsed = $input.first().json || {};\n\n// Extract data - handle both debug_fullObject and direct body\nconst webhookData = parsed.debug_fullObject?.body || parsed.body || {};\nconst industry = webhookData.industry || \"\";\nconst sicCodes = webhookData.sic_codes || [];\nconst countries = webhookData.countries || [];\n\nconsole.log('=== APOLLO API PAYLOAD BUILDER ===');\nconsole.log('1. Industry selected:', industry);\nconsole.log('2. SIC Codes received:', sicCodes);\nconsole.log('3. Countries received:', countries);\n\n// Build Apollo API payload with ALL countries\nconst body = {\n  organization_sic_codes: sicCodes,\n  person_locations: countries,\n  person_titles: [\n    \"CEO\",\"COO\",\"Director\",\"President\",\"Owner\",\"Founder\",\"Board of Directors\"\n  ],\n  page: 1,\n  per_page: 5,\n  // Pass original industry through for later use\n  _industry_filter: industry\n};\n\nconsole.log('4. Final Apollo API payload:', JSON.stringify(body, null, 2));\nconsole.log('=== END ===');\n\nreturn [{ json: body }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        608
      ],
      "id": "9331beca-9863-4e36-a482-ae4cfb1ee341",
      "name": "Code5"
    },
    {
      "parameters": {
        "tableId": "scraped Data",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Founder Name",
              "fieldValue": "={{ $('Edit Fields2').item.json.name }}"
            },
            {
              "fieldId": "Company Name",
              "fieldValue": "={{ $('Edit Fields2').item.json.organization.name }}"
            },
            {
              "fieldId": "Position",
              "fieldValue": "={{ $('Edit Fields2').item.json.title }}"
            },
            {
              "fieldId": "Founder Email",
              "fieldValue": "={{ $('Edit Fields2').item.json.email }}"
            },
            {
              "fieldId": "Founder Linkedin",
              "fieldValue": "={{ $('Edit Fields2').item.json.linkedin_url }}"
            },
            {
              "fieldId": "Founder Address",
              "fieldValue": "={{ $('Edit Fields2').item.json.formatted_address }}"
            },
            {
              "fieldId": "Company's Industry",
              "fieldValue": "={{ $('Edit Fields2').item.json.organization.industry }}"
            },
            {
              "fieldId": "Company Website",
              "fieldValue": "={{ $('Edit Fields2').item.json.organization.website_url }}"
            },
            {
              "fieldId": "Company Linkedin",
              "fieldValue": "={{ $('Edit Fields2').item.json.organization.linkedin_url }}"
            },
            {
              "fieldId": "Company Blogpost",
              "fieldValue": "={{ $('Edit Fields2').item.json.organization.blog_url }}"
            },
            {
              "fieldId": "Company Angellist",
              "fieldValue": "={{ $('Edit Fields2').item.json.organization.angellist_url }}"
            },
            {
              "fieldId": "Company Phone",
              "fieldValue": "={{ $('Edit Fields2').item.json.organization.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        624
      ],
      "id": "aec6e89b-0a22-4f69-a7d1-f8a888c2d051",
      "name": "Create a row2",
      "credentials": {
        "supabaseApi": {
          "id": "o3rLq66uVGgi3KGO",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        608
      ],
      "id": "55c4017f-1dc2-4e55-8e39-639e8d64935c",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a78c1edf-450b-44b8-9af5-8206b4736b81",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        608
      ],
      "id": "149f7e90-65a6-48c4-bdf1-c21e5b40683c",
      "name": "Webhook1",
      "webhookId": "a78c1edf-450b-44b8-9af5-8206b4736b81"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b22edf4f-3b81-48d1-bad9-c7886c6a744b",
              "leftValue": "={{ $json.person.organization.industries }}",
              "rightValue": "[\"agrochemicals\",\"oil & gas\",\"lubricants\",\"chemical\",]",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        624
      ],
      "id": "f4b8ebc0-6138-4ee2-bf35-432493383b8a",
      "name": "If4",
      "disabled": true
    }
  ],
  "connections": {
    "Code4": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Create a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Code4": [
      {
        "debug_fullObject": {
          "headers": {
            "host": "n8n.srv963601.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
            "content-length": "610",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "content-type": "application/json",
            "origin": "http://localhost:3000",
            "priority": "u=1, i",
            "referer": "http://localhost:3000/",
            "sec-ch-ua": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "180.211.97.147",
            "x-forwarded-host": "n8n.srv963601.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "88816d819947",
            "x-real-ip": "180.211.97.147"
          },
          "params": {},
          "query": {},
          "body": {
            "industry": "Agrochemical",
            "brandName": "MAPOL CO",
            "chemicalName": "Castor Oil Ethoxylate",
            "countries": [
              "Australia",
              "USA",
              "Indonesia",
              "Brazil",
              "Argentina"
            ],
            "product": {
              "id": "3",
              "industry": "Agrochemical",
              "brandName": "MAPOL CO",
              "chemicalName": "Castor Oil Ethoxylate",
              "application": "Nonionic Surfactant / Emulsifier for EC Formulation",
              "targetCountries": [
                "Australia",
                "USA",
                "Indonesia",
                "Brazil",
                "Argentina",
                "Colombia",
                "Mexico",
                "Peru",
                "Uruguay",
                "Paraguay",
                "Bolivia",
                "Guyana",
                "Turkey",
                "Georgia",
                "Uzbekistan",
                "Kazakhstan",
                "Azerbaijan",
                "Nigeria",
                "South Africa",
                "Ethiopia",
                "Egypt"
              ]
            },
            "timestamp": "2025-10-01T05:14:16.665Z"
          },
          "webhookUrl": "REPLACE_WITH_YOUR_N8N_WEBHOOK_URL",
          "executionMode": "production"
        },
        "debug_keys": [
          "headers",
          "params",
          "query",
          "body",
          "webhookUrl",
          "executionMode"
        ]
      }
    ],
    "HTTP Request4": [
      {
        "breadcrumbs": [
          {
            "label": "Include titles",
            "signal_field_name": "person_titles",
            "value": "CEO",
            "display_name": "CEO"
          },
          {
            "label": "Include titles",
            "signal_field_name": "person_titles",
            "value": "COO",
            "display_name": "COO"
          },
          {
            "label": "Include titles",
            "signal_field_name": "person_titles",
            "value": "Director",
            "display_name": "Director"
          },
          {
            "label": "Include titles",
            "signal_field_name": "person_titles",
            "value": "President",
            "display_name": "President"
          },
          {
            "label": "Include titles",
            "signal_field_name": "person_titles",
            "value": "Owner",
            "display_name": "Owner"
          },
          {
            "label": "Include titles",
            "signal_field_name": "person_titles",
            "value": "Founder",
            "display_name": "Founder"
          },
          {
            "label": "Include titles",
            "signal_field_name": "person_titles",
            "value": "Board of Directors",
            "display_name": "Board of Directors"
          },
          {
            "label": "Person Locations",
            "signal_field_name": "person_locations",
            "value": "USA",
            "display_name": "USA"
          }
        ],
        "partial_results_only": false,
        "has_join": false,
        "disable_eu_prospecting": false,
        "partial_results_limit": 10000,
        "pagination": {
          "page": 1,
          "per_page": 5,
          "total_entries": 35184,
          "total_pages": 7037
        },
        "contacts": [],
        "people": [
          {
            "id": "64eefae80cab9f0001fc229e",
            "first_name": "Mike",
            "last_name": "Size",
            "name": "Mike Size",
            "linkedin_url": "http://www.linkedin.com/in/mike-size",
            "title": "CEO, Board of Directors",
            "email_status": "verified",
            "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
            "twitter_url": null,
            "github_url": null,
            "facebook_url": null,
            "extrapolated_email_confidence": null,
            "headline": "Strategic Advisor | Board Member | Food and Beverage | Flavors, Food Ingredients, and Specialty Chemicals | Acquisitions | Commercial Transformation | Sustainability",
            "email": "email_not_unlocked@domain.com",
            "organization_id": "681a3b40c4ebca00191af562",
            "employment_history": [
              {
                "_id": "68d90c5dad878000018eac5f",
                "created_at": null,
                "current": true,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "681a3b40c4ebca00191af562",
                "organization_name": "Penta Fine Ingredients",
                "raw_address": null,
                "start_date": "2025-04-01",
                "title": "CEO, Board of Directors",
                "updated_at": null,
                "id": "68d90c5dad878000018eac5f",
                "key": "68d90c5dad878000018eac5f"
              },
              {
                "_id": "68d90c5dad878000018eac60",
                "created_at": null,
                "current": true,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": null,
                "organization_name": "Size Strategic Consulting, LLC",
                "raw_address": null,
                "start_date": "2023-01-01",
                "title": "Founder",
                "updated_at": null,
                "id": "68d90c5dad878000018eac60",
                "key": "68d90c5dad878000018eac60"
              },
              {
                "_id": "68d90c5dad878000018eac61",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2023-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a122e469702d94a4ea6c03",
                "organization_name": "ZoomEssence, Inc",
                "raw_address": null,
                "start_date": "2020-01-01",
                "title": "President (Retired)",
                "updated_at": null,
                "id": "68d90c5dad878000018eac61",
                "key": "68d90c5dad878000018eac61"
              },
              {
                "_id": "68d90c5dad878000018eac62",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2020-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a1360d69702d352f833201",
                "organization_name": "Balchem Corporation",
                "raw_address": null,
                "start_date": "2016-01-01",
                "title": "Vice President and General Manager | Food Ingredients",
                "updated_at": null,
                "id": "68d90c5dad878000018eac62",
                "key": "68d90c5dad878000018eac62"
              },
              {
                "_id": "68d90c5dad878000018eac63",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2016-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a11c3169702d8ed4df8700",
                "organization_name": "Mane Flavors",
                "raw_address": null,
                "start_date": "2014-01-01",
                "title": "Vice President | US Flavor Business",
                "updated_at": null,
                "id": "68d90c5dad878000018eac63",
                "key": "68d90c5dad878000018eac63"
              },
              {
                "_id": "68d90c5dad878000018eac64",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2014-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a1367c69702d407f241c01",
                "organization_name": "Givaudan",
                "raw_address": null,
                "start_date": "2006-01-01",
                "title": "Vice President | Global Beverage & Sweet Goods",
                "updated_at": null,
                "id": "68d90c5dad878000018eac64",
                "key": "68d90c5dad878000018eac64"
              },
              {
                "_id": "68d90c5dad878000018eac65",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2006-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5e55e25321e69a0001a53c2b",
                "organization_name": "CP Kelco",
                "raw_address": null,
                "start_date": "2002-01-01",
                "title": "Global Vice President and General Manager",
                "updated_at": null,
                "id": "68d90c5dad878000018eac65",
                "key": "68d90c5dad878000018eac65"
              },
              {
                "_id": "68d90c5dad878000018eac66",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2002-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5a9d953ca6da98d9663f8089",
                "organization_name": "AT&T",
                "raw_address": null,
                "start_date": "1999-01-01",
                "title": "Vice President | Enterprise Marketing and Sales",
                "updated_at": null,
                "id": "68d90c5dad878000018eac66",
                "key": "68d90c5dad878000018eac66"
              },
              {
                "_id": "68d90c5dad878000018eac67",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "1999-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5e9e90f690a76c008cd472a9",
                "organization_name": "The NutraSweet Company",
                "raw_address": null,
                "start_date": "1996-01-01",
                "title": "Global Business Director",
                "updated_at": null,
                "id": "68d90c5dad878000018eac67",
                "key": "68d90c5dad878000018eac67"
              }
            ],
            "street_address": "",
            "city": "Cincinnati",
            "state": "Ohio",
            "country": "United States",
            "postal_code": null,
            "formatted_address": "Cincinnati, OH, USA",
            "time_zone": "America/New_York",
            "organization": {
              "id": "681a3b40c4ebca00191af562",
              "name": "Penta Fine Ingredients",
              "website_url": "http://www.pentafineingredients.com",
              "blog_url": null,
              "angellist_url": null,
              "linkedin_url": "http://www.linkedin.com/company/penta-fine-ingredients",
              "twitter_url": null,
              "facebook_url": null,
              "primary_phone": {
                "number": "+1 973-740-2300",
                "source": "Owler",
                "sanitized_number": "+19737402300"
              },
              "languages": [],
              "alexa_ranking": null,
              "phone": "+1 973-740-2300",
              "linkedin_uid": "107010919",
              "founded_year": 1985,
              "publicly_traded_symbol": null,
              "publicly_traded_exchange": null,
              "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68461fd7f0e56d00011bff70/picture",
              "crunchbase_url": null,
              "primary_domain": "pentafineingredients.com",
              "sic_codes": [
                "2899"
              ],
              "naics_codes": [
                "32519"
              ],
              "sanitized_phone": "+19737402300",
              "organization_headcount_six_month_growth": 6,
              "organization_headcount_twelve_month_growth": 6,
              "organization_headcount_twenty_four_month_growth": null
            },
            "departments": [
              "c_suite"
            ],
            "subdepartments": [
              "executive"
            ],
            "seniority": "c_suite",
            "functions": [],
            "intent_strength": null,
            "show_intent": true,
            "email_domain_catchall": false,
            "revealed_for_current_team": true,
            "personal_emails": []
          },
          {
            "id": "54a1b1ee74686949e762e508",
            "first_name": "Anna",
            "last_name": "Lada",
            "name": "Anna Lada",
            "linkedin_url": "http://www.linkedin.com/in/annalada81",
            "title": "Board of Directors",
            "email_status": "verified",
            "photo_url": "https://media.licdn.com/dms/image/v2/D5603AQFGKHdMqB3-HA/profile-displayphoto-shrink_200_200/B56ZQ.UCsSGQAc-/0/1736212229286?e=2147483647&v=beta&t=slbN8jp4q4z5yDFgx9ZNAYIVBPSuiRX9bl1F0OLENbU",
            "twitter_url": null,
            "github_url": null,
            "facebook_url": null,
            "extrapolated_email_confidence": null,
            "headline": null,
            "email": "email_not_unlocked@domain.com",
            "organization_id": "5f48a0b6d406c80001fcc872",
            "employment_history": [
              {
                "_id": "68d73fb60d61fd0001ddc9c5",
                "created_at": null,
                "current": true,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5f48a0b6d406c80001fcc872",
                "organization_name": "Women in Flavor and Fragrance Commerce, Inc. (WFFC)",
                "raw_address": null,
                "start_date": "2024-01-01",
                "title": "Board of Directors",
                "updated_at": null,
                "id": "68d73fb60d61fd0001ddc9c5",
                "key": "68d73fb60d61fd0001ddc9c5"
              },
              {
                "_id": "68d73fb60d61fd0001ddc9c6",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2021-12-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a1273b69702d93139c8100",
                "organization_name": "The Popcorn Factory",
                "raw_address": null,
                "start_date": "2017-03-01",
                "title": "Creative Services Designer/Marketing/Advertising",
                "updated_at": null,
                "id": "68d73fb60d61fd0001ddc9c6",
                "key": "68d73fb60d61fd0001ddc9c6"
              },
              {
                "_id": "68d73fb60d61fd0001ddc9c7",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2017-02-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5f3ec8754d9db10001a85931",
                "organization_name": "Jetro Restaurant Depot",
                "raw_address": null,
                "start_date": "2010-09-01",
                "title": "Graphics and Marketing Manager",
                "updated_at": null,
                "id": "68d73fb60d61fd0001ddc9c7",
                "key": "68d73fb60d61fd0001ddc9c7"
              }
            ],
            "street_address": "",
            "city": "Glenview",
            "state": "Illinois",
            "country": "United States",
            "postal_code": null,
            "formatted_address": "Glenview, IL, USA",
            "time_zone": "America/Chicago",
            "organization": {
              "id": "5f48a0b6d406c80001fcc872",
              "name": "Women in Flavor and Fragrance Commerce, Inc. (WFFC)",
              "website_url": "http://www.wffc.org",
              "blog_url": null,
              "angellist_url": null,
              "linkedin_url": "http://www.linkedin.com/company/wffcorg",
              "twitter_url": null,
              "facebook_url": "https://facebook.com/wffc.org",
              "primary_phone": {},
              "languages": [
                "English"
              ],
              "alexa_ranking": null,
              "phone": null,
              "linkedin_uid": "5488833",
              "founded_year": 1982,
              "publicly_traded_symbol": null,
              "publicly_traded_exchange": null,
              "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66ee4c9636789200018067fe/picture",
              "crunchbase_url": null,
              "primary_domain": "wffc.org",
              "sic_codes": [
                "8731"
              ],
              "naics_codes": [
                "81392"
              ],
              "organization_headcount_six_month_growth": 0.1,
              "organization_headcount_twelve_month_growth": 0.2222222222222222,
              "organization_headcount_twenty_four_month_growth": 0.5714285714285714
            },
            "departments": [],
            "subdepartments": [],
            "seniority": "director",
            "functions": [],
            "intent_strength": null,
            "show_intent": true,
            "email_domain_catchall": false,
            "revealed_for_current_team": true,
            "personal_emails": [
              "alada81@hotmail.com"
            ]
          },
          {
            "id": "5c411d86f65125550c9ee6a8",
            "first_name": "Camille",
            "last_name": "Gill",
            "name": "Camille Gill",
            "linkedin_url": "http://www.linkedin.com/in/camille-gill-b5a6746",
            "title": "Board of Directors",
            "email_status": "verified",
            "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
            "twitter_url": null,
            "github_url": null,
            "facebook_url": null,
            "extrapolated_email_confidence": null,
            "headline": "Corporate leader who glides between levels & roles while focused on achieving overarching goals",
            "email": "email_not_unlocked@domain.com",
            "organization_id": "5500bc5073696461596e2500",
            "employment_history": [
              {
                "_id": "68ca403db8db14000121267d",
                "created_at": null,
                "current": true,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": null,
                "organization_name": "INC Research/inVentiv Health",
                "raw_address": null,
                "start_date": "2007-01-01",
                "title": "Project Director, Data Operations",
                "updated_at": null,
                "id": "68ca403db8db14000121267d",
                "key": "68ca403db8db14000121267d"
              },
              {
                "_id": "68ca403db8db14000121267e",
                "created_at": null,
                "current": true,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5500bc5073696461596e2500",
                "organization_name": "Burden Chemical Co",
                "raw_address": null,
                "start_date": "2007-08-01",
                "title": "Board of Directors",
                "updated_at": null,
                "id": "68ca403db8db14000121267e",
                "key": "68ca403db8db14000121267e"
              },
              {
                "_id": "68ca403db8db14000121267f",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2019-06-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": null,
                "organization_name": "Studio 9 Lifecasting",
                "raw_address": null,
                "start_date": "2015-05-01",
                "title": "Owner",
                "updated_at": null,
                "id": "68ca403db8db14000121267f",
                "key": "68ca403db8db14000121267f"
              },
              {
                "_id": "68ca403db8db140001212680",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2011-05-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5d0a37f280f93e1c5461f7f4",
                "organization_name": "INC Research",
                "raw_address": null,
                "start_date": "2007-08-01",
                "title": "Group Manager, Data Services",
                "updated_at": null,
                "id": "68ca403db8db140001212680",
                "key": "68ca403db8db140001212680"
              },
              {
                "_id": "68ca403db8db140001212681",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2007-08-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5d0a37f280f93e1c5461f7f4",
                "organization_name": "INC Research",
                "raw_address": null,
                "start_date": "2007-01-01",
                "title": "Manager, Clinical Data Management",
                "updated_at": null,
                "id": "68ca403db8db140001212681",
                "key": "68ca403db8db140001212681"
              },
              {
                "_id": "68ca403db8db140001212682",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2007-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": null,
                "organization_name": "Millennix Oncology",
                "raw_address": null,
                "start_date": "2005-09-01",
                "title": "Manager Clinical Data Manager (Manager)",
                "updated_at": null,
                "id": "68ca403db8db140001212682",
                "key": "68ca403db8db140001212682"
              },
              {
                "_id": "68ca403db8db140001212683",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2005-09-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": null,
                "organization_name": "Millennix Oncology",
                "raw_address": null,
                "start_date": "2003-07-01",
                "title": "Senior Clinical Data Manager",
                "updated_at": null,
                "id": "68ca403db8db140001212683",
                "key": "68ca403db8db140001212683"
              },
              {
                "_id": "68ca403db8db140001212684",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2004-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a11e1269702d84c5d33d01",
                "organization_name": "Smith Hanley Associates",
                "raw_address": null,
                "start_date": "2002-01-01",
                "title": "Consultant",
                "updated_at": null,
                "id": "68ca403db8db140001212684",
                "key": "68ca403db8db140001212684"
              }
            ],
            "street_address": "",
            "city": "Palm Coast",
            "state": "Florida",
            "country": "United States",
            "postal_code": null,
            "formatted_address": "Palm Coast, FL, USA",
            "time_zone": "America/New_York",
            "organization": {
              "id": "5500bc5073696461596e2500",
              "name": "Burden Chemical Co",
              "website_url": "http://www.burdenchemical.com",
              "blog_url": null,
              "angellist_url": null,
              "linkedin_url": "http://www.linkedin.com/company/burden-chemical-co",
              "twitter_url": null,
              "facebook_url": null,
              "primary_phone": {
                "number": "+1 804-378-0740",
                "source": "Owler",
                "sanitized_number": "+18043780740"
              },
              "languages": [
                "English"
              ],
              "alexa_ranking": null,
              "phone": "+1 804-378-0740",
              "linkedin_uid": "6700275",
              "founded_year": null,
              "publicly_traded_symbol": null,
              "publicly_traded_exchange": null,
              "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/63edac0a998f12000100b12d/picture",
              "crunchbase_url": null,
              "primary_domain": "burdenchemical.com",
              "sic_codes": [
                "5990"
              ],
              "sanitized_phone": "+18043780740",
              "organization_headcount_six_month_growth": 0,
              "organization_headcount_twelve_month_growth": 0,
              "organization_headcount_twenty_four_month_growth": 0
            },
            "departments": [],
            "subdepartments": [],
            "seniority": "director",
            "functions": [],
            "intent_strength": null,
            "show_intent": true,
            "email_domain_catchall": false,
            "revealed_for_current_team": true,
            "personal_emails": [
              "camillegill@ymail.com"
            ]
          },
          {
            "id": "54a42ced7468693676646c32",
            "first_name": "Bob",
            "last_name": "Arzbaecher",
            "name": "Bob Arzbaecher",
            "linkedin_url": "http://www.linkedin.com/in/bob-arzbaecher-04514792",
            "title": "Board of Directors",
            "email_status": "verified",
            "photo_url": "https://media.licdn.com/dms/image/v2/C4E03AQFbiA_hJkOADA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1517484864043?e=2147483647&v=beta&t=sLn3GepEZSnN363y3rexIaPewk3Arz0lZp1NxiuGQCU",
            "twitter_url": null,
            "github_url": null,
            "facebook_url": null,
            "extrapolated_email_confidence": null,
            "headline": "Director of CF Industries Holdings Inc. and FMI Inc. Mutual Funds",
            "email": "email_not_unlocked@domain.com",
            "organization_id": "54a12a7869702dc84144d301",
            "employment_history": [
              {
                "_id": "68d4dcfacf0844000116fc66",
                "created_at": null,
                "current": true,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a12a7869702dc84144d301",
                "organization_name": "CF Industries",
                "raw_address": null,
                "start_date": "2005-05-01",
                "title": "Board of Directors",
                "updated_at": null,
                "id": "68d4dcfacf0844000116fc66",
                "key": "68d4dcfacf0844000116fc66"
              },
              {
                "_id": "68d4dcfacf0844000116fc67",
                "created_at": null,
                "current": true,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a19d337468695c824fe401",
                "organization_name": "Fiduciary Management, Inc. (FMI)",
                "raw_address": null,
                "start_date": "2008-12-01",
                "title": "Board of Directors",
                "updated_at": null,
                "id": "68d4dcfacf0844000116fc67",
                "key": "68d4dcfacf0844000116fc67"
              },
              {
                "_id": "68d4dcfacf0844000116fc68",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2014-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a1294d69702dc841d74501",
                "organization_name": "Actuant Corporation",
                "raw_address": null,
                "start_date": "2000-01-01",
                "title": "Chairman and CEO",
                "updated_at": null,
                "id": "68d4dcfacf0844000116fc68",
                "key": "68d4dcfacf0844000116fc68"
              },
              {
                "_id": "68d4dcfacf0844000116fc69",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2000-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "55921e8473696418fbee7800",
                "organization_name": "APPLIED POWER INC.",
                "raw_address": null,
                "start_date": "1992-01-01",
                "title": "CFO, Controller",
                "updated_at": null,
                "id": "68d4dcfacf0844000116fc69",
                "key": "68d4dcfacf0844000116fc69"
              },
              {
                "_id": "68d4dcfacf0844000116fc6a",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "1992-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": null,
                "organization_name": "Grabill Aerospace Industries LTD",
                "raw_address": null,
                "start_date": "1988-01-01",
                "title": "CFO, Controller",
                "updated_at": null,
                "id": "68d4dcfacf0844000116fc6a",
                "key": "68d4dcfacf0844000116fc6a"
              },
              {
                "_id": "68d4dcfacf0844000116fc6b",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "1988-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": null,
                "organization_name": "Farley Industries",
                "raw_address": null,
                "start_date": "1984-01-01",
                "title": "Various Financial Positions",
                "updated_at": null,
                "id": "68d4dcfacf0844000116fc6b",
                "key": "68d4dcfacf0844000116fc6b"
              },
              {
                "_id": "68d4dcfacf0844000116fc6c",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "1984-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5d364548f651253bc33c2617",
                "organization_name": "Grant Thornton LLP",
                "raw_address": null,
                "start_date": "1982-01-01",
                "title": "Audit Senior",
                "updated_at": null,
                "id": "68d4dcfacf0844000116fc6c",
                "key": "68d4dcfacf0844000116fc6c"
              }
            ],
            "street_address": "",
            "city": "Brookfield",
            "state": "Wisconsin",
            "country": "United States",
            "postal_code": null,
            "formatted_address": "Brookfield, WI, USA",
            "time_zone": "America/Chicago",
            "organization": {
              "id": "54a12a7869702dc84144d301",
              "name": "CF Industries",
              "website_url": "http://www.cfindustries.com",
              "blog_url": null,
              "angellist_url": null,
              "linkedin_url": "http://www.linkedin.com/company/cf-industries",
              "twitter_url": "https://twitter.com/cfindustries",
              "facebook_url": "http://www.facebook.com/cfindustries",
              "primary_phone": {
                "number": "+1 847-405-2400",
                "source": "Owler",
                "sanitized_number": "+18474052400"
              },
              "languages": [
                "English"
              ],
              "alexa_ranking": null,
              "phone": "+1 847-405-2400",
              "linkedin_uid": "25334",
              "founded_year": 1946,
              "publicly_traded_symbol": "CF",
              "publicly_traded_exchange": "nasdaq",
              "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68d50527a9885d0001da0f36/picture",
              "crunchbase_url": null,
              "primary_domain": "cfindustries.com",
              "sic_codes": [
                "2873"
              ],
              "naics_codes": [
                "32531"
              ],
              "sanitized_phone": "+18474052400",
              "market_cap": "14.9B",
              "organization_headcount_six_month_growth": 0.02376364804110469,
              "organization_headcount_twelve_month_growth": 0.04114957544088831,
              "organization_headcount_twenty_four_month_growth": 0.1185964912280702
            },
            "departments": [],
            "subdepartments": [],
            "seniority": "director",
            "functions": [],
            "intent_strength": null,
            "show_intent": true,
            "email_domain_catchall": true,
            "revealed_for_current_team": true,
            "personal_emails": []
          },
          {
            "id": "5f102483a6d4fe0001eb188a",
            "first_name": "Jenniffer",
            "last_name": "Deckard",
            "name": "Jenniffer Deckard",
            "linkedin_url": "http://www.linkedin.com/in/jennifferdeckard",
            "title": "Board of Directors",
            "email_status": "unavailable",
            "photo_url": "https://media.licdn.com/dms/image/v2/C5603AQEq2FZFoHHEyg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1613864948828?e=2147483647&v=beta&t=6zXdvqouY8_HHj9Uo8AzSx8f9U104RcJligV3eqgDXs",
            "twitter_url": null,
            "github_url": null,
            "facebook_url": null,
            "extrapolated_email_confidence": null,
            "headline": null,
            "email": "email_not_unlocked@domain.com",
            "organization_id": "54a1b7037468695c829b310a",
            "employment_history": [
              {
                "_id": "68d78ed1e1d5520001bc08ba",
                "created_at": null,
                "current": true,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a1b7037468695c829b310a",
                "organization_name": "RPM International Inc.",
                "raw_address": null,
                "start_date": null,
                "title": "Board of Directors",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08ba",
                "key": "68d78ed1e1d5520001bc08ba"
              },
              {
                "_id": "68d78ed1e1d5520001bc08bb",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a1272769702d979c2c5800",
                "organization_name": "The Great Lakes Construction Co.",
                "raw_address": null,
                "start_date": "2020-05-01",
                "title": "Board Member",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08bb",
                "key": "68d78ed1e1d5520001bc08bb"
              },
              {
                "_id": "68d78ed1e1d5520001bc08bc",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "61ec1f073538050001412553",
                "organization_name": "Sisters of Notre Dame of the United States",
                "raw_address": null,
                "start_date": "2020-04-01",
                "title": "Serving in Finance, Admin, & Facilities",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08bc",
                "key": "68d78ed1e1d5520001bc08bc"
              },
              {
                "_id": "68d78ed1e1d5520001bc08bd",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5e53d5d500bc5600d6949359",
                "organization_name": "University Hospitals",
                "raw_address": null,
                "start_date": "2020-04-01",
                "title": "Board Member",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08bd",
                "key": "68d78ed1e1d5520001bc08bd"
              },
              {
                "_id": "68d78ed1e1d5520001bc08be",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "55ea564cf3e5bb59200033f2",
                "organization_name": "EDWINS Leadership & Restaurant Institute",
                "raw_address": null,
                "start_date": "2017-01-01",
                "title": "Board of Directors",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08be",
                "key": "68d78ed1e1d5520001bc08be"
              },
              {
                "_id": "68d78ed1e1d5520001bc08bf",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": null,
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a1b7037468695c829b310a",
                "organization_name": "RPM International Inc.",
                "raw_address": null,
                "start_date": "2015-01-01",
                "title": "Board of Directors",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08bf",
                "key": "68d78ed1e1d5520001bc08bf"
              },
              {
                "_id": "68d78ed1e1d5520001bc08c0",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2020-04-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "54a11c6a69702d7fe694b400",
                "organization_name": "Cleveland Foundation",
                "raw_address": null,
                "start_date": "2014-01-01",
                "title": "Director Board of Directors",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08c0",
                "key": "68d78ed1e1d5520001bc08c0"
              },
              {
                "_id": "68d78ed1e1d5520001bc08c1",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2019-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5b872b5b324d444ac2d9f940",
                "organization_name": "Covia - Formerly Fairmount Minerals",
                "raw_address": null,
                "start_date": "2011-01-01",
                "title": "President | CEO | Board Member",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08c1",
                "key": "68d78ed1e1d5520001bc08c1"
              },
              {
                "_id": "68d78ed1e1d5520001bc08c2",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "2011-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5b872b5b324d444ac2d9f940",
                "organization_name": "Covia - Formerly Fairmount Minerals",
                "raw_address": null,
                "start_date": "1999-01-01",
                "title": "Chief Financial Officer, Fairmount Minerals",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08c2",
                "key": "68d78ed1e1d5520001bc08c2"
              },
              {
                "_id": "68d78ed1e1d5520001bc08c3",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "1999-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5b872b5b324d444ac2d9f940",
                "organization_name": "Covia - Formerly Fairmount Minerals",
                "raw_address": null,
                "start_date": "1996-01-01",
                "title": "Corporate Controller",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08c3",
                "key": "68d78ed1e1d5520001bc08c3"
              },
              {
                "_id": "68d78ed1e1d5520001bc08c4",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "1996-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "5b872b5b324d444ac2d9f940",
                "organization_name": "Covia - Formerly Fairmount Minerals",
                "raw_address": null,
                "start_date": "1994-01-01",
                "title": "Accounting Manager",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08c4",
                "key": "68d78ed1e1d5520001bc08c4"
              },
              {
                "_id": "68d78ed1e1d5520001bc08c5",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "1994-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "55e7f090f3e5bb271700004a",
                "organization_name": "Carus Corporation",
                "raw_address": null,
                "start_date": "1991-01-01",
                "title": "Tax and Corporate Accountant",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08c5",
                "key": "68d78ed1e1d5520001bc08c5"
              },
              {
                "_id": "68d78ed1e1d5520001bc08c6",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "1991-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": null,
                "organization_name": "Allsteel, Inc.",
                "raw_address": null,
                "start_date": "1989-01-01",
                "title": "Financial Analyst",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08c6",
                "key": "68d78ed1e1d5520001bc08c6"
              },
              {
                "_id": "68d78ed1e1d5520001bc08c7",
                "created_at": null,
                "current": false,
                "degree": null,
                "description": null,
                "emails": null,
                "end_date": "1989-01-01",
                "grade_level": null,
                "kind": null,
                "major": null,
                "organization_id": "556d78eb73696411ec761801",
                "organization_name": "Arthur Andersen & Co.",
                "raw_address": null,
                "start_date": "1987-01-01",
                "title": "Audit | Tax",
                "updated_at": null,
                "id": "68d78ed1e1d5520001bc08c7",
                "key": "68d78ed1e1d5520001bc08c7"
              }
            ],
            "street_address": "",
            "city": "Cleveland",
            "state": "Ohio",
            "country": "United States",
            "postal_code": null,
            "formatted_address": "Cleveland, OH, USA",
            "time_zone": "America/New_York",
            "organization": {
              "id": "54a1b7037468695c829b310a",
              "name": "RPM International Inc.",
              "website_url": "http://www.rpminc.com",
              "blog_url": null,
              "angellist_url": null,
              "linkedin_url": "http://www.linkedin.com/company/rpm-international-inc.",
              "twitter_url": "https://twitter.com/rpmintl",
              "facebook_url": null,
              "primary_phone": {
                "number": "+1 330-273-5090",
                "source": "Owler",
                "sanitized_number": "+13302735090"
              },
              "languages": [
                "English"
              ],
              "alexa_ranking": 763823,
              "phone": "+1 330-273-5090",
              "linkedin_uid": "85231",
              "founded_year": 1947,
              "publicly_traded_symbol": "RPM",
              "publicly_traded_exchange": "nasdaq",
              "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68d60f1758f9540001d20e4a/picture",
              "crunchbase_url": null,
              "primary_domain": "rpminc.com",
              "sic_codes": [
                "2899"
              ],
              "naics_codes": [
                "32551"
              ],
              "sanitized_phone": "+13302735090",
              "market_cap": "15B",
              "organization_headcount_six_month_growth": 0.04279279279279279,
              "organization_headcount_twelve_month_growth": 0.1183574879227053,
              "organization_headcount_twenty_four_month_growth": 0.3738872403560831
            },
            "departments": [],
            "subdepartments": [],
            "seniority": "director",
            "functions": [],
            "intent_strength": null,
            "show_intent": true,
            "email_domain_catchall": false,
            "revealed_for_current_team": true,
            "personal_emails": []
          }
        ],
        "model_ids": [
          "64eefae80cab9f0001fc229e",
          "54a1b1ee74686949e762e508",
          "5c411d86f65125550c9ee6a8",
          "54a42ced7468693676646c32",
          "5f102483a6d4fe0001eb188a"
        ],
        "num_fetch_result": null,
        "derived_params": {
          "recommendation_config_id": "68d634aa1a522d0001f69e46"
        }
      }
    ],
    "Code5": [
      {
        "organization_sic_codes": [
          "2879"
        ],
        "person_locations": [
          "USA"
        ],
        "person_titles": [
          "CEO",
          "COO",
          "Director",
          "President",
          "Owner",
          "Founder",
          "Board of Directors"
        ],
        "page": 1,
        "per_page": 5
      }
    ],
    "Webhook1": [
      {
        "headers": {
          "host": "n8n.srv963601.hstgr.cloud",
          "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
          "content-length": "610",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
          "content-type": "application/json",
          "origin": "http://localhost:3000",
          "priority": "u=1, i",
          "referer": "http://localhost:3000/",
          "sec-ch-ua": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"macOS\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "180.211.97.147",
          "x-forwarded-host": "n8n.srv963601.hstgr.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "88816d819947",
          "x-real-ip": "180.211.97.147"
        },
        "params": {},
        "query": {},
        "body": {
          "industry": "Agrochemical",
          "brandName": "MAPOL CO",
          "chemicalName": "Castor Oil Ethoxylate",
          "countries": [
            "Australia",
            "USA",
            "Indonesia",
            "Brazil",
            "Argentina"
          ],
          "sic_codes": [
            "2879"
          ],
          "product": {
            "id": "3",
            "industry": "Agrochemical",
            "brandName": "MAPOL CO",
            "chemicalName": "Castor Oil Ethoxylate",
            "application": "Nonionic Surfactant / Emulsifier for EC Formulation",
            "targetCountries": [
              "Australia",
              "USA",
              "Indonesia",
              "Brazil",
              "Argentina",
              "Colombia",
              "Mexico",
              "Peru",
              "Uruguay",
              "Paraguay",
              "Bolivia",
              "Guyana",
              "Turkey",
              "Georgia",
              "Uzbekistan",
              "Kazakhstan",
              "Azerbaijan",
              "Nigeria",
              "South Africa",
              "Ethiopia",
              "Egypt"
            ]
          },
          "timestamp": "2025-10-01T05:14:16.665Z"
        },
        "webhookUrl": "REPLACE_WITH_YOUR_N8N_WEBHOOK_URL",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10e4e6c1eea9300223cd6b73408d4f00c50de7b03f854dae5b15fcc57988166b"
  }
}